{"filters":[{"eventType":"AuditEvent","filter":"jc.alerts","timeInterval":"60000","maxSlots":"100","countZeros":"false","transactionDuration":"3000","traceType":"topx","computers":[{"type":"total","source":"Count"}]},{"eventType":"ExceptionEvent","filter":"jc.alerts","timeInterval":"60000","maxSlots":"100","countZeros":"false","transactionDuration":"3000","traceType":"topx","computers":[{"type":"total","source":"Count","rules":[{"id":"00","type":"maxValue","value":"2","minOccurrences":"1","sticky":"","level":"1","sendEmail":""}]}]}]}