{"filters":[{"countZeros":"false","timeInterval":"30000","eventType":"Audit Event","maxSlots":"100","filter":"jc.alerts.demo.services:*","computers":[{"type":"total","source":"count"},{"type":"average","source":"duration"}]},{"timeInterval":"30000","filter":"jc.alerts.demo.services:*","countZeros":"false","eventType":"Exception Event","maxSlots":"100","computers":[{"type":"total","source":"count","rules":[{"id":"00","type":"maxValue","value":"5","minOccurrences":"1","sticky":"","level":"0","sendEmail":""},{"id":"10","type":"percentage","value":"25","minOccurrences":"1","sticky":"","level":"2","sendEmail":""}]}]}]}