{"filters":[{"timeInterval":"30000","eventType":"Exception Event","maxSlots":"100","filter":"jc.alerts.demo.services:*","countZeros":"false","computers":[{"type":"total","source":"count","rules":[{"id":"00","type":"maxValue","value":"5","minOccurrences":"2","sticky":"","level":"2","sendEmail":""}]}]},{"countZeros":"false","timeInterval":"30000","maxSlots":"100","filter":"jc.alerts.demo.services:*","eventType":"Audit Event","computers":[{"type":"total","source":"count"},{"type":"average","source":"duration","rules":[{"id":"00","type":"maxValue","value":"1000","minOccurrences":"2","sticky":"","level":"0","sendEmail":""},{"id":"10","type":"maxValue","value":"1500","sticky":"","level":"1","sendEmail":""}]}]}]}