{"filters":[{"eventType":"ExceptionEvent","filter":"*","pipelineAttribute":"","timeInterval":"60000","maxSlots":"100","countZeros":"false","transactionDuration":"3000","traceType":"allx","computers":[{"type":"total","source":"Count"}]},{"eventType":"AuditEvent","filter":"*","pipelineAttribute":"","timeInterval":"60000","maxSlots":"100","countZeros":"false","transactionDuration":"3000","traceType":"allx","computers":[{"type":"total","source":"Count"},{"type":"average","source":"Duration"},{"type":"total","source":"Transaction"}]}]}